/* Register.css */
#body{
    background-color: rgb(228, 132, 201);
}
.register-form {
    width: 50%; /* Adjust as needed */
  }
  
  .register-image {
    width: 50%; /* Adjust as needed */
  }
  
  .register-image img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .register-form,
    .register-image {
      width: 100%;
    }
  
    .register-form {
      margin-bottom: 20px;
    }
  }
  